@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

/* (*) é o seletor universal para selecionar todos componentes e aplicar a fonte robotoMono */
* {
  font-family: 'RobotoMono', monospace;
}

body {
  /* para ter flexibilidade no display*/
  display: flex;
  /* para ocupar a tela toda*/
  height: 100vh;
  /* para centralizar no eixo horizontal*/
  justify-content: center;
  /* centralizar no eixo vertical*/
  align-items: center;
  /* alinhar o texto da calculadora*/ 
  text-align: center;

  /* Deninindo cor do plano de fundo da pagina*/
  color: #fff;
  background: linear-gradient(to right, rgb(83, 105,118), rgb(41,46,73));
}